ARK_API_KEY=ark-...
TOS_ACCESSKEY=AKLT...
TOS_SECRETKEY=...
TOS_BUCKET=miles
TOS_REGION=cn-beijing
TOS_ENDPOINT=tos-cn-beijing.volces.com
TOS_PREFIX=seedance-references
TOS_URL_MODE=signed
TOS_SIGNED_EXPIRES=86400
SEEDANCE_UI_HOST=127.0.0.1
SEEDANCE_UI_PORT=7860
